
.topo{
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo > h1{
    font-size: 56px;
    color: #75B79E;
    font-family: 'Roboto';
    font-weight: 700;
}